@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: black;
    color:white;
    padding-left: 300px;
    height: 90px;
    line-height: 90px;
    font-size: 50px;
    font-family: 'Big Shoulders Text', cursive;
}