@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&display=swap');
.app--container{
    margin:0px 200px;
    background-color: white;
    font-family: 'Big Shoulders Text', cursive;
}

.event--detail-container{
    display:flex;
    margin: 60px 200px 60px 200px;
    padding: 30px;
}

@media screen and  (max-width){
    .app--container{
        margin:0px 0px;
        background-color: white;
        font-family: 'Big Shoulders Text', cursive;
    }
    .event--detail-container{
        display:flex;
        margin: 0px;
        /* padding: 30px; */
    }
    
}